.author>p{
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 12px;
    color:rgba(0, 0, 0, 0.38);
    margin:0;
    padding-left:0.5vw;
    }
.author{
    display: flex;
    align-items:center;
}
    .wrapper{
        padding-top:1vh;
        padding-left: 5%;
        padding-bottom:1vh;
    }